

.link {
  color: #FFF;
  text-decoration: none
}
.link:hover {
   color: #00F

}

.listheader {
font-weight: bold;
background-color: rgb(250, 250, 250)
  
}

.siteImage{
  width:400px;
  object-fit: fill;
}

